<!doctype html>
<html>
   <head>
      <style>
         body {
           background-image: url('https://www.greek-language.gr/digitalResources/files/image/history/art/texn_7.7.3_294.jpg');
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: cover;
         }
         </style>
   </head>
   <body>
     
      <form method="post" action="/">

         <p><input type="submit" value="Statues" name="statues"/></p>
         <p><input type="submit" value="Rooms" name="rooms" /></p>
         <p><input type="submit" value="Views" name="views" /></p>
         <p><input type="submit" value="Exhibitions" name="exhibitions" /></p>
         <p><input type="submit" value="Immediate Maintenance" name="immediate maintenance" /></p>
         <p><input type="submit" value="Immediate Exhibitions" name="immediate exhibitions" /></p>
         <p><input type="submit" value="Egyptian Statues" name="egyptian statues" /></p>
         <p><input type="submit" value="Rome Season Statues" name="rome season statues" /></p>
         <p><input type="submit" value="First Three Rooms" name="first three rooms"/></p>
         <p><input type="submit" value="School trip" name="school trip" /></p>
         <p><input type="submit" value="Next Exhibition" name="next exhibition" /></p>

      </form>
      <a href = "/sql">SQL</a>
   </body>
</html>